.get-email {

  form {
    max-width: 100%;

    .input-control input {
      border-radius: 5px;
    }

    .input-control.error input {
      border-color: #ff3860;

    }

    .input-control .error {
      color: #ff3860;
      font-size: 1rem;
      height: 13px;
      margin-top: 5px;
      margin-bottom: 10px;
    } 

    .input-control #email {
      width: 100%;
      padding: 5px 0;
      padding-left: 5px;

      @media screen and (max-width: $bkpoint-sm) {
        width: 100%;
      }
    }

    // .form-buttons {
    //   .reset-btn {
    //     margin-left: 100px;
    //   }
    // }
  }
}