footer {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #9eaeaf;
  padding: 2% 0;
  position: fixed;
  left: 0;
  bottom: 0;

  .footer-content {
    margin: -0.5% 0;

    p {margin: 0; display: inline-block;}

    br {
      display: none;

      @media screen and (max-width: $bkpoint-sm) {
        display: block;
      }
    }

    #visible-xs {
      display: inline;
      margin-right: 5px;

      @media screen and (max-width: $bkpoint-sm) {
        display: none;
      }
    }

    @media screen and (max-width: $bkpoint-sm) {
      margin-bottom: -1%;
    }

    @media screen and (max-width: $bkpoint-lg) {
      margin: 0;
    }
  }

  @media screen and (max-width: $bkpoint-lg) {
    position: relative;
  }
}