header {
  width: 100%;
  height: 80px;
  text-align: center;
  position: relative;
  padding: 2% 0; 
  background-color: #9eaeaf;

  h1 {
    margin-top: -1%;

    br {
      display: none;

      @media screen and (max-width: $bkpoint-sm) {
        display: block;
      }
    }
  }

  @media screen and (max-width: $bkpoint-sm) {
    height: 110px;
  }
}