.wrapper {
  margin: 5% auto;
  display: grid;
  max-width: 1100px;
  grid-gap: 10px;
  grid-template-columns: auto 500px;


  .image-gen {
    max-width: 500px;
    border-radius: 10px;
    background-color: #d8e7e7;
    padding: 10px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    .images {

      img {
        border-radius: 10px;
        max-width: 100%;
        box-shadow: 0 3px 35px rgba(0,0,0,.1);

        @media screen and (max-width: $bkpoint-lg) {
          max-width: 100%;
        }
      }
    }

    .submit-btn, .skip-btn, .reset-btn {
      cursor: pointer;
      padding: 10px 20px;
      border: 2px solid #455c5c;
      background-color: #455c5c;
      border-radius: 10px;
      color: white;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover {
        border: 2px solid #587575;
        background-color: #587575;
      }

      i {margin-left: 5px;}

      @media screen and (max-width: $bkpoint-sm) {
        align-self: center;
        display: block;
        width: 100%;;
        margin: 5px 0;
      }
    }

    @media screen and (max-width: $bkpoint-lg) {
      max-width: 800px;
      
      @media screen and (max-width: $bkpoint-sm) {
        //max-width: 100%;
        margin: 5px 0;
      }
    }
  }

  // .image-gen, .saved-emails {
  //   margin: 2%;
  // }

  .saved-emails {
    max-width: 500px;
    max-height: 500px;
    background-color: #d8e7e7;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    .item {
      margin: 10px 0;
      border: 1px solid white;
      border-radius: 10px;
      background-color: #9eaeaf;

      a {
        font-size: 1.75rem;
        margin-left: 10px;
        display: block;
        padding: 5px;

        .dropdown {
          transition: 0.3s ease;
          font-size: 1.5rem;

          @media screen and (max-width: $bkpoint-lg) {
            font-size: 1.25rem;
          }

          @media screen and (max-width: $bkpoint-sm) {
            font-size: 1.1rem;
          }
        }

        .rotate {
          transform: rotate(90deg);
        }

        @media screen and (max-width: $bkpoint-lg) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: $bkpoint-sm) {
          font-size: 1.25rem;
        }
      }

      .row {
        padding: 10px 5px;
        overflow-y: scroll;
        border-radius: 10px;
      }

      .emailImages img {
        border-radius: 10px;
        margin: 2px 5px;
      }
    }

    @media screen and (max-width: $bkpoint-lg) {
      max-width: 800px;
      
      @media screen and (max-width: $bkpoint-sm) {
        //max-width: 100%;
        margin: 5px 0;
      }
    }

  }

  @media screen and (max-width: $bkpoint-lg) {
    max-width: 800px;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 100px 50px;
  }

  @media screen and (max-width: $bkpoint-sm) {
    max-width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    margin: 25px auto; 
  }
}

