.wrapper {
  margin: 100px auto;
  display: grid;
  max-width: 1100px;
  grid-template-columns: auto 500px;


  .image-gen {
    max-width: 500px;
    border-radius: 10px;
    background-color: #d8e7e7;
    padding: 10px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    .images {

      img {
        border-radius: 10px;
        max-width: 100%;
        box-shadow: 0 3px 35px rgba(0,0,0,.1);
      }
    }

    .submit-btn, .skip-btn, .reset-btn {
      cursor: pointer;
      padding: 10px 20px;
      border: 2px solid rgba(9, 2, 12, 0.8);
      background-color: rgba(9, 2, 12, 0.8);
      border-radius: 10px;
      color: white;
      font-weight: 600;
      font-size: 1.1rem;

      i {margin-left: 5px;}
    }
  }

  .image-gen, .saved-emails {
    margin: 2%;
  }

  .saved-emails {
    max-width: 500px;
    max-height: 500px;
    background-color: #d8e7e7;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    .item {
      margin: 10px 0;
      border: 1px solid white;
      border-radius: 10px;
      background-color: #9eaeaf;

      a {
        font-size: 2rem;
        margin-left: 10px;
        display: block;

        .dropdown {
          transition: 0.3s ease;
          font-size: 1.5rem;
        }

        .rotate {
          transform: rotate(90deg);
        }
      }

      .row {
        padding: 10px 5px;
        overflow-y: scroll;
        border-radius: 10px;
      }

      .emailImages img {
        border-radius: 10px;
        margin: 2px 5px;
      }
    }

    @media screen and (max-width: $bkpoint-lg) {
      
    }
  }

  @media screen and (max-width: $bkpoint-lg) {
    flex-direction: column;
  }
}

